body {
    overflow: hidden;
}

.message-container {
    display: flex;
    flex-flow: column-reverse ;
    align-items: flex-start;
    margin: auto;
    padding: 1em;
    border-radius: 15px;
    height: 85%;
    overflow-y: auto;
}

.message-box {
    display: flex;
    flex-flow: column nowrap;
    padding: .5em;
    max-height: 20%;
    width: max-content;
    max-width: 100%;

}

p {
    margin: 0;
}

.message-content {
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
}
.message-title {
    font-size: 18px;
    color: white;
    margin-left: .25em;

    border-left: white 2px solid;
    padding-left: 0.5em;
}

.content-box {
    display: flex;

    padding: 0.5em 1em 0.5em 1em;
    margin-top: 0.25em;

    background:#151e6d;
    border-radius: 15px;
    border-top-left-radius: 0%;

    min-height: 2em;
    height: fit-content;

    overflow: hidden auto;
}

.background-box {
    position: absolute;
    top: 85%;

    display: flex;
    justify-content:center;
    align-items: center;

    width: 100%;
    background-color: #151e6d;

    padding: 0.5em 1em;

    padding: .25em .5em;
}


input[name="message-input"] {
    width: 50%;
    height: 1em;;
    border: none;
    border-radius: 10px;
    background-color:  whitesmoke;
    margin-top: 0.25em;
}

button[name="send"] {
    margin-left: 1em;
    margin-top: 0.25em;
    margin-right: 1em;
    border-radius:50%;
    background-color: whitesmoke;
    color: #151e6d;
}


/* room info */
.room-info-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;

    position: absolute;
    left: calc(100% - 7em);
    margin: 1em;
    width: fit-content;
    height: fit-content;
    padding: 0.5em 0.75em;
    
    border-radius: 10px;

    background-color: rgb(255, 255, 255);

    box-shadow: -3px 3px 2px rgb(109, 109, 109);
}

span {
    color: black;
}

.room-info-row {
    padding: 0.25em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

i {
    margin: .25em;
}