

/* room info */
.room-info-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;

    position: absolute;
    left: calc(100% - 7.5em);
    margin: 1em;
    width: fit-content;
    height: fit-content;
    padding: 0.5em 0.75em;
    
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0
    ;


    background-color: rgb(5, 7, 78);
    box-shadow: -1px 2px 1px rgb(51, 51, 51);
}

span {
    color: black;
}

.room-info-row {
    padding: 0.25em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

i {
    margin: .25em;
}