.sys-message-box {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em 1em;
    margin: 1em auto;

    width: fit-content;
}

.sys-message-content {
    font-size: 1em;
    font-weight: 400;
    color: rgb(189, 189, 189);
}