body, div#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0B1322;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

[draggable=true] {
  cursor: move;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 2em;
}

.version {
  color: rgb(228, 228, 228);
  font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');