.console-cursor {
    width: fit-content !important;

    font-family: Consolas;
    color: white;

    margin: 0 !important;
    height: fit-content;
}

.console-input {
    font-family: Consolas !important;
    display: inline;
    width: max-content !important; 
 
    margin: 0 0 0 0.5em !important;
    height: 1.2em !important;
    color: white;

    border: none !important;
    outline: none !important;
    border-radius: 8px;

    padding: 0.5em;
}

.console-command-line {
    width: max-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0.5em 0.5em 0 1em ;

}

.cursor-form {
    box-sizing: border-box;
    display: flex !important;
    flex-flow: row nowrap;
    background: none !important;
    margin: 0 !important;


    padding: 0 !important;

    width: max-content;

}